.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .vr-container {
    display: none; /* Hide original layout on mobile */
  }
  
  @media (min-width: 768px) {
    .swiper-container {
      display: none; /* Hide slider on desktop */
    }
  
    .vr-container {
      display: flex;
      justify-content: space-around;
    }
  }
  